.navBar{

    background-color: #F4DEFA;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.lista{
    list-style: none;
    display: flex;
    margin: 4px 0 0 7px;

}
.item{
    float: right;
}
.enlaces{
    margin: 7px;
    display: block;
    text-align: center;
    padding: 15px;
    font-size: 1rem;
    text-decoration: none;
    color:beige;
    background-color: #FE65AB;
    border-radius: 6px;
}
.cartWidget{
    width: 40%;
}